{% extends "base/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="https://i.pravatar.cc/" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">Profile</h4>
                  <p class="card-text" style="color:black"   )=^>Username : {{user.username}}</p>
                  <p class="card-text" style="color:black">Email : user.example@gmail.com</p>
                  <p class="card-text" style="color:black">Admin : {% if user.is_staff %} Yes ✅ {% else %} No ❌ {% endif %} </p>
                  <a href="#" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
        <div class="col-6">

        </div>

    </div>
</div>
{% endblock content %}